In [22]:
# Importando as bibliotecas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

from sklearn.linear_model import LinearRegression

%matplotlib inline

In [23]:
# Selecionando o Dataset

math_train = pd.read_csv(r'C:\Users\Daniel Costa\Desktop\Codenation\Teste-1\Dataset\train.csv')
math_test = pd.read_csv(r'C:\Users\Daniel Costa\Desktop\Codenation\Teste-1\Dataset\test.csv')

In [24]:
math_test.columns

Index(['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'TP_DEPENDENCIA_ADM_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE',
       'IN_IDOSO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047'],
      dtype='object')

In [25]:
math_train = math_train[['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'TP_DEPENDENCIA_ADM_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE',
       'IN_IDOSO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047','NU_NOTA_MT']]

In [26]:
math_train = math_train.reset_index()
math_test = math_test.reset_index()

In [27]:
math_train.dropna(subset=['NU_NOTA_CN' , 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO','NU_NOTA_MT'], inplace=True)#.info()
math_test.dropna(subset=['NU_NOTA_CN' , 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO',], inplace=True)

In [28]:
features = ['NU_NOTA_CN' , 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO']
x_train = math_train[features]#.fillna(0)
y_train = math_train['NU_NOTA_MT']#.fillna(0)

In [29]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10097 entries, 0 to 13729
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NU_NOTA_CN       10097 non-null  float64
 1   NU_NOTA_LC       10097 non-null  float64
 2   NU_NOTA_CH       10097 non-null  float64
 3   NU_NOTA_REDACAO  10097 non-null  float64
dtypes: float64(4)
memory usage: 394.4 KB

In [30]:
Lr = LinearRegression()
Lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
x_teste = math_test[features]

In [32]:
y_pred = Lr.predict(x_teste)

In [33]:
    dados = {'NU_INSCRICAO' : math_test['NU_INSCRICAO'],
       'NU_NOTA_MT' : y_pred}

In [40]:
answer

                                  NU_INSCRICAO  NU_NOTA_MT
0     73ff9fcc02f0a99919906c942c2e1a1042cdcf98  436.794330
1     71a95f9f1b91a82c65ad94abbdf9f54e6066f968  436.210165
2     b38a03232f43b11c9d0788abaf060f7366053b6d  586.375506
4     715494628a50142ce8cb17191cfe6d0f3cae0934  544.431875
5     e656d6bad65c93fb2880f1eba5037008c8e75774  465.999661
...                                        ...         ...
4570  13aaf6335f43cfc1b8baeac559324f20b2653724  514.144157
4571  dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b  447.143465
4572  a75fa8770257e7c9368d059fe53d9ef431f4bdef  460.093092
4573  655fa6306720ff16e825903b5422a46608a77545  619.545559
4574  1f4bc3e3d56212d500625bfe8ac78ccff4362293  447.053692

[3360 rows x 2 columns]

In [42]:
answer = pd.DataFrame(dados)

In [43]:
answer.to_csv('anwser.csv', encoding='utf8',index=False)

In [44]:
pd.read_csv('anwser.csv')

                                  NU_INSCRICAO  NU_NOTA_MT
0     73ff9fcc02f0a99919906c942c2e1a1042cdcf98  436.794330
1     71a95f9f1b91a82c65ad94abbdf9f54e6066f968  436.210165
2     b38a03232f43b11c9d0788abaf060f7366053b6d  586.375506
3     715494628a50142ce8cb17191cfe6d0f3cae0934  544.431875
4     e656d6bad65c93fb2880f1eba5037008c8e75774  465.999661
...                                        ...         ...
3355  13aaf6335f43cfc1b8baeac559324f20b2653724  514.144157
3356  dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b  447.143465
3357  a75fa8770257e7c9368d059fe53d9ef431f4bdef  460.093092
3358  655fa6306720ff16e825903b5422a46608a77545  619.545559
3359  1f4bc3e3d56212d500625bfe8ac78ccff4362293  447.053692

[3360 rows x 2 columns]